[2018-04-05 14:25] rameshraithatha opened #11 "setup.py fails on mac"
While running setup.py on my mac it asks me to run it with sudo for the `pip install` but later while running the `brew install` command it fails since brew doesn't like sudo.

I would suggest moving the installation of external dependencies to the user and you should concentrate on installing the python dependencies only.

Also, setting up the tool is little painful right now. Installing the tool

[2018-04-06 07:15] tonythomas01 opened #14 "Fix formatting, PEP8 violations etc"
Some formatting and other Py issues that throws a lot of shade:

1. `Tabs` used instead of spaces to indent (eg: https://github.com/flipkart-incubator/Astra/blob/master/core/parsers.py)
2. Unwanted nesting: if ... if ... if ... if ... - is an antipattern, and should follow return early using if not <do> (eg: same file above)
3. PEP8 violations. Just run pep8 -i or something like that on the whole

[2018-04-06 07:31] sagarpo commented on #14
@tonythomas01 Thanks. I will fix it.

[2018-04-06 08:08] sunitavc commented on #11
Workaround: pip install -r requirements.txt
This just works provided we have pip installed etc.

[2018-04-06 08:17] sagarpo commented on #11
@sunitavc Yes, that will work.

[2018-04-07 02:05] msumit opened #16 "There is no method called update_scan_record, it should be update_record."
https://github.com/flipkart-incubator/Astra/blob/049ca943dd048ac974efcc9d476d72ba829f9dd0/astra.py#L82

[2018-04-07 06:13] sagarpo commented on #16
@msumit can you try now. The function is available at https://github.com/flipkart-incubator/Astra/blob/master/utils/db.py

[2018-04-07 06:13] #16 closed

[2018-04-07 06:14] sagarpo commented on #11
@rameshraithatha You can now directly use sudo pip install -r requirements.txt for set up.

[2018-04-07 06:14] #11 closed

[2018-04-07 21:56] fabiocerqueira commented on #14
https://github.com/ambv/black - You can use this project for it

[2018-04-07 22:08] sagarpo commented on #14
@fabiocerqueira. Sure. I will check that

[2018-04-09 07:00] sunitavc opened #17 "Python 3"
@sagarpo I fixed the code to work with Python3, do you want it? I use Python3 and maybe a lot of people now do. It was basically some import statements and obviously the print paranthesis that I changed.

[2018-04-09 18:13] msumit opened #20 "getting weird template not found issues"
Trying with a test url on localhost, but getting a bunch of errors in logs

[code]

[2018-04-10 06:40] sagarpo commented on #20
Favicon.ico file is missing on the server you can ignore that error.  IOError needs to be fixed.  Which flask version are you using? Was your mongoDB running when you started Astra?

[2018-04-10 13:38] sagarpo commented on #17
@sunitavc Sure you can share it. We are planning to support that in next version.

[2018-04-10 20:42] msumit commented on #20
@sagarpo yes, mongo was running.

[2018-04-10 21:14] sagarpo commented on #20
@msumit Ok. Were you able to scan any URL? also let me know your flask version. I will look into it. Thanks

[2018-04-11 09:28] gajjar8055 opened #24 "Please add .gitignore for log folder and files"

[2018-04-11 12:49] sagarpo commented on #24
It's intentionally kept

[2018-04-11 12:49] #24 closed

[2018-04-13 13:37] swankmotor opened #25 "Doesnt get report"
Hello. What i do wrong?
http://prntscr.com/j4s5f6

[2018-04-13 13:50] swankmotor commented on #25
[http://prntscr.com/j4sdit](url)

[2018-04-13 15:54] sagarpo commented on #25
@swankmotor. Did you scan it through the web interface? was your mongoDB running when you started the scan?

[2018-04-22 08:31] rakeshkmr516 opened #27 "Unable to launch Astra"
@sagarpo Performed steps and could you please let me know if am missing any information to launch astra CLI/ GUI mode
$ git clone https://github.com/flipkart-incubator/Astra

$ cd Astra

$ pip install -r requirements.txt ( Navigated to pip folder using windows OS)

I have installed below versions of Python and MongoDB
Python: 3.6.4
MongoDB shell version v3.6.4
I have run mongodb commands mongod an

[2018-04-22 08:53] sagarpo commented on #27
@rakeshkmr516 .. currently it doesn't support in windows. Try it on linux or in mac.

[2018-04-22 08:59] #27 closed

[2018-04-23 07:26] unmesh92 opened #28 "getting error while using web based"
root@kali:~/Astra/API# python api.py
Failed to connect to MongoDB.
root@kali:~/Astra/API#

[2018-04-23 07:26] unmesh92 commented on #28
root@kali:~/Astra/API# python api.py
Failed to connect to MongoDB.
root@kali:~/Astra/API#

[2018-04-23 07:26] unmesh92 commented on #28
Failed to connect to MongoDB.
 getting above error

[2018-04-23 15:25] #28 closed

[2018-04-23 15:27] sagarpo commented on #25
@swankmotor Please check this document for more information  : https://www.astra-security.info/installation/

[2018-04-23 15:27] #25 closed

[2018-04-24 09:18] SetupaccSid opened #30 "Version of Mongodb"
Hi Team,

What is the version of Mongodb required for an error free operation of this tool?

[2018-04-24 10:44] sagarpo commented on #30
@SetupaccSid. You can use the latest version of MongoDB. You can check this doc for more information: https://www.astra-security.info/installation/

[2018-04-24 10:44] #30 closed

[2018-05-04 07:24] snguyenthanh opened #38 "Uncaught Exception in in `modules/cors.py`"
I got the following error when trying to submit an URL to my local REST server:
[code]

As I see, in `modules.cors.generate_origin`, from line 59, this caused the error:
[code]

From the [urlparse's docs](https://docs.python.org/2/library/urlparse.html#urlparse.urlparse), the `hostname` return a `None` object if no hostname is found.
I think we need to add a validator here to check `domain_name` i

[2018-05-04 07:33] snguyenthanh commented on #17
@sunitavc @sagarpo Do you mind if I create a PR for the Python3 changes ?

[2018-05-04 12:33] cybertricks opened #39 "warning during the scan"
<img width="1038" alt="screen shot 2018-05-04 at 5 58 11 pm" src="https://user-images.githubusercontent.com/33148205/39628279-31e1c798-4fc6-11e8-9276-e313101e0965.png">

[2018-05-04 12:44] sagarpo commented on #38
@snguyenthanh. What arguments did you pass to astra?

[2018-05-04 12:56] sagarpo commented on #39
Run Mongo as a daemon by using below command:
```$ sudo mongod --fork --logpath=output.log```

[2018-05-04 12:56] #39 closed

[2018-05-04 13:30] snguyenthanh commented on #38
@sagarpo I didn't pass anything in the headers and body. I only filled the `Product Name` and `URL`.

[2018-05-04 14:29] franciscofreire opened #40 "Typo in README.md"
There's a typo in your README.me:

"CORS **misonfiguration** (including CORS bypass techniques)" should be "CORS **misconfiguration** (including CORS bypass techniques)"

[2018-05-04 14:58] sagarpo commented on #40
Done. Thanks :)

[2018-05-04 14:58] #40 closed

[2018-05-04 17:16] SpenGietz opened #41 "Custom HTTP Methods"
I was wondering what everyone would think about adding a "Custom HTTP Method" option for API requests.

I'm needing to run a test against a PATCH request, but there are only GET/POST/PUT/DEL options in the web UI.

[2018-05-05 01:00] ellipticasec opened #42 "Implement more JWT vulnerabilities testing"
It'd be cool to support all those listed in the RFC draft
https://tools.ietf.org/html/draft-ietf-oauth-jwt-bcp-02#section-2

[2018-05-05 08:51] sagarpo commented on #42
@ellipticasec. Sure. We are planning to support.

[2018-05-06 08:57] sagarpo commented on #38
@snguyenthanh I am not able to reproduce the same in my system. I have tried the same on my mac and Ubuntu system.  What was the URL did you pass?

[2018-05-06 08:58] sagarpo commented on #41
@SpenGietz Sure I will add that soon.

[2018-05-09 03:51] snguyenthanh commented on #38
hmm I also fail to reproduce the error again...
I think just leave this as a note. The issue can be closed.

[2018-05-09 06:30] sagarpo commented on #38
@snguyenthanh.. cool. I am closing the issue.  Feel free to open it if you face the same.

[2018-05-09 06:30] #38 closed

[2018-05-11 14:02] pr0letariat opened #44 "Pass Burp request file"
Would be useful to be able to pass the tool a Burp request file you have made.

[2018-05-12 13:11] sagarpo commented on #44
@pr0letariat Sure. I will definitely work on it.

[2018-05-16 16:37] ajmaradiaga opened #47 "Unable to connect to the internal /option/[task-id] endpoint when running sqli"
Details from logs:
[code]

https://github.com/flipkart-incubator/Astra/blob/e4f60378ae2dc964db528789514c9844a2981af2/modules/sqli.py#L26-L34

Exception raised:
[code]

[2018-05-18 06:33] #47 closed

[2018-05-18 12:04] rdek opened #49 "HAWK authorization"
Hi, wonderfull job inside this project!
Im wondering is there any possibilities to add HAWK authorization method into Astra authorization types that works?
I've got an internal API to ptest and wroting some sample "gateway" to authorize my requests and send them to burp. This functionality in Astra would be awesome!

[2018-05-18 12:06] ajmaradiaga commented on #47
Thanks, it does work now.

[2018-05-18 14:54] sagarpo commented on #49
@rdek Will definitely add it. Thanks

[2018-05-23 16:02] guigaoliveira opened #50 "Requests with cookies"
Is it to make requests that use cookies (session / login)?

[2018-05-24 09:13] sagarpo commented on #50
@guigaoliveira You mean adding cookie header in http request?

[2018-05-24 16:52] sagarpo commented on #50
we can do that, in web interface you can pass something like this: {"Cookie" : "COOKIEVALUE"}

[2018-05-24 21:42] guigaoliveira commented on #50
Ok, thanks.

[2018-05-25 05:56] #50 closed

[2018-05-25 13:12] Lawouach commented on #17
Ping just as a casual user :)

[2018-06-25 17:29] sugarjig opened #51 "Testing GET request returns error"
I'm trying to follow the instructions to get started, but I'm not getting very far. I have pulled the Mongo image and built the CLI Docker image. I'm running the service I want to test locally, and now I'm trying to run the following command, replacing `<token`> with a valid token I obtain ahead of time:
[code]
I get the following stack trace:
[code]

I've also tried the same call in the Astra GUI

[2018-06-26 16:31] sagarpo commented on #51
@sugarjig.  How are you passing Authorization header? It should be in proper JSON format
Example: {"Auth-header": "Auth-header-value"}

[2018-06-26 17:42] sugarjig commented on #51
AFAIK, I'm passing the header correctly. The command I'm executing has `--headers '{"Authorization": "Bearer <token>"}'`

[2018-06-26 18:16] sagarpo commented on #51
@sugarjig Have you tried the same through the web interface? Are you getting the same error for web interface as well?

[2018-06-26 18:17] sugarjig commented on #51
Yes, I have tried it through the GUI. The error I get there is "Broken Authentication and session management" with a payload from our service that matches that expected when the token is incorrect or missing.

[2018-06-26 18:21] sagarpo commented on #51
@sugarjig I will look into this. Give me some time.

[2018-07-09 06:39] #51 closed

[2018-07-16 18:20] dderusha opened #53 "AttributeError: "NoneType""
When I run a scan, I get the following error.

`Process module-scan:
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._

[2018-07-17 12:14] sagarpo commented on #53
@dderusha Hey this seems an SSL issue(OpenSSL in Mac).  It was failing because of SSL handshake issue. It's working fine on my ubuntu box.  If you find a way to fix this on mac, let us know. I have tried updating openssl and python but no luck.

Ref: https://stackoverflow.com/questions/36896631/osx-python-ssl-handshake-error

[2018-07-20 12:04] BilalK-Continuum opened #54 "Getting error "Failed to test Broken authentication and session management""
While scanning any API getting below message ;

/usr/local/lib/python2.7/dist-packages/pymongo/topology.py:149: UserWarning: MongoClient opened before fork. Create MongoClient only a                         fter forking. See PyMongo's documentation for details: http://api.mongodb.org/python/current/faq.html#is-pymongo-fork-safe
  "MongoClient opened before fork. Create MongoClient only "
Failed to

[2018-07-21 11:04] sagarpo commented on #54
@BilalK-Continuum "Failed to test Broken authentication and session management" you can ignore error since it's testing properly but not showing a proper message.  Also for mongo error, it's warning so you can ignore it or else you can start mongo like this to avoid warning:
```$ sudo mongod --fork --logpath=output.log```

[2018-07-21 11:04] #54 closed

[2018-07-27 09:58] #53 closed

[2018-08-24 13:11] barbadian opened #60 "Can I use postman collection with url in EnvironmentVariable?"
Hi!
I use postman EnvironmentVariable for storing url on collection. When I try to use this collection with Astra I've got output:
[-]Failed to detect login url. Do you want to contiune without authentication?(y/n).

Does Astra support Postman collection with EnvironmentVariable?

Thanks!
Alex.

[2018-09-03 06:45] jauharvp opened #61 "Request: Authentication in Web Portal using api.py"
Great Work!!!

I would like to request for the authentication option in web portal, so we can test auth based API end points.

[2018-09-10 06:01] sagarpo commented on #61
Sure. We will release that feature soon.

[2018-09-10 06:02] sagarpo commented on #60
No, it doesn't support as of now.

[2018-09-17 07:53] jauharvp commented on #61
Great, I appreciate your effort and time.

[2018-09-17 11:05] ArjunReddyD opened #62 "API Status - Status of the API is in In Progress for more than 2 days"
3 Issues found in the scan, but Status still showing as In Progress. How do I know that Scanning is completed or not?
1. CORS Misconfiguration
2. Broken Authentication and session management
3. Cross Site Scripting

[2018-09-18 19:52] devcrew opened #63 "NameError: global name 'vulnerable' is not defined in xxe.py"
From a current pull of the repo, and running astra.py with the -u parameter it fails after starting the XXE server.

Console output:
[+]https://example.com is vulnerable to cross domain attack
[+]https://example.com is vulnerable to broken Authentication and session management
Traceback (most recent call last):
  File "astra.py", line 328, in <module>
    main()
  File "astra.py", line 319, in mai

[2018-09-19 07:52] sagarpo commented on #63
@devcrew: I will fix this soon.

[2018-10-01 07:11] #63 closed

[2018-10-01 12:38] sagarpo commented on #62
@ArjunReddyD  Did you check that?

[2018-10-05 04:45] ArjunReddyD commented on #62
@sagarpo Sorry for not responding these days, I was remote. I am using Astra in GUI-Docker mode and inside Logs folder, Scan.log file is empty. No logs found in it.
![image](https://user-images.githubusercontent.com/29158737/46516465-85755700-c887-11e8-81ea-5370bdcf2684.png)

[2018-10-05 06:39] sagarpo commented on #62
@ArjunReddyD  Can you share /app/logs/scan.log? This file will be present inside the docker directory.

[2018-10-29 08:12] zhuzhibin123 opened #68 "Local copy of JS and CSS"
Step 6/10 : RUN pip install -r requirements.txt
 ---> Running in 52fe9a9b747f

Collecting requests (from -r requirements.txt (line 1))
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f5a45703350>: Failed to establish a new connection: [Errno 101] Net

[2018-10-31 02:34] zhuzhibin123 commented on #68
Thank you for your reply. The country has been resolved, but a new problem has been encountered. When executing the command Python api. py, Failed to connect to MongoDB. MongoDB is running

[2018-10-31 09:54] yasserEnisoo opened #70 "Failed to test Broken authentication and session management"
hello I just start learning " Automated Security Testing For REST API's" so I choose ASTRA to use it and after following Installing Step's , I try to run this command in order to start a scan for GET api,
$ python astra.py -u https://jsonplaceholder.typicode.com/  But their is no test running !! and I have this console message :
"MongoClient opened before fork. Create MongoClient only "
Failed to

[2018-10-31 10:11] sagarpo commented on #70
@yasserEnisoo Can you try scanning the same URL through the web interface? Let us know if you face the same issue in web interface?

[2018-10-31 10:15] sagarpo commented on #68
@zhuzhibin123 You need to run mongo container as well.
[code]

[2018-10-31 10:30] yasserEnisoo commented on #70
![capture du 2018-10-31 11-27-54](https://user-images.githubusercontent.com/37070476/47782278-2547c880-dd00-11e8-8839-25e4527e2ec2.png)

I just scan the same URL through the web interface and I think I have the same problem , also I change another URL , and I have the same issue !!

[2018-10-31 10:40] yasserEnisoo commented on #70
Yes, I think it work's

[2018-10-31 10:53] jsfan opened #71 "Login tokens"
The method `verify_login()` in `APILogin` expects a login token to be returned ([1](https://github.com/flipkart-incubator/Astra/blob/3fa84cae8e76532ea87a780d2d83170115c55a81/core/login.py#L145), [2](https://github.com/flipkart-incubator/Astra/blob/3fa84cae8e76532ea87a780d2d83170115c55a81/core/login.py#L147) when calling `fetch_logintoken()`. However, `fetch_logintoken()` always returns `None`.

[2018-10-31 11:02] yasserEnisoo commented on #70
Now , when I test with ASTRA CLI I have this error ! AttributeError: 'NoneType' object has no attribute 'items'
Command which I made :
python astra.py -u https://jsonplaceholder.typicode.com/todos -m POST -headers '{"Username" : "test" , "Password" : "test"}' -- body '{ "userId": 10, "id": 200, "title": "ipsam aperiam voluptates qui", "completed": false }'

[2018-11-01 06:45] zhuzhibin123 commented on #68
The input command shows that it is already running, but the running Python api.py command indicates that the connection failed.

$ docker run --name astra-mongo -d mongo
/usr/bin/docker-current: Error response from daemon: Conflict. The container name "/astra-mongo" is already in use by container 64befbf1d377995730806c3176c4631a3638cdc0c1fdbb0be2af7dcd5ba8796d. You have to remove (or rename) that

[2018-11-01 10:39] yasserEnisoo opened #72 "step's to follow to know how ASTRA CLI scan all the apis using Postman collection"
In example 3 Declare that Astra also provides a feature to scan all the apis using Postman collection.
so I create my proper collection with postman, where I make my test scenario ( 5 URL) and now I want to test it with ASTRA, so how to proceed and think am right to build a new ASTRA docker Image ?? to run test ??

[2018-11-06 00:54] zhuzhibin123 commented on #68
It has not been solved yet.

[2018-11-06 13:00] mohangcsm commented on #68
@zhuzhibin123
it seems ur Mongo container is already created. Please use the below command to see if it is already created.

docker ps -a

please use below command to start it manually.

docker start 64befbf1d377

Once it is started, please follow the instructions mentioned in readme file to start Astra docker either in cli or gui mode.

[2018-11-07 01:19] zhuzhibin123 commented on #68
When I executed the order, there was another problem.
$python api.py
/usr/lib/python2.7/site-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.24.1) or chardet (3.0.4) doesn't match a supported version!
 RequestsDependencyWarning)
Failed to connect to MongoDB.

[2018-11-07 03:17] zhuzhibin123 commented on #68
When I click on Submit to display the status, is there a problem {status":"a2598d4610331c8187b73b76e411dc8"}?

[2018-11-08 08:39] zhuzhibin123 commented on #68
When I submitted, there was a hint in the window. Is there any problem?{status“：”a2598d4610331c8187b73b76e411dc8“}

[2018-11-08 11:03] sagarpo commented on #68
@zhuzhibin123 That means scan has started and worked fine.

[2018-11-08 11:05] zhuzhibin123 commented on #68
Hi，
Why didn't I see the progress? How long will it take to see the report?

[2018-11-08 11:18] sagarpo commented on #68
@zhuzhibin123 It will only show "in progress" or "completed" and it takes 5 minutes max to complete single API scan.

[2018-11-09 01:36] zhuzhibin123 commented on #68
Hi，
When I submitted, there was a hint in the window，{status“：”a2598d4610331c8187b73b76e411dc8“}，Is it normal? Or is there a problem?

[2018-11-09 08:36] sagarpo commented on #68
@zhuzhibin123 Yes that's standard behave. The scan has been started already.

[2018-11-13 08:13] zhuzhibin123 commented on #68
![default](https://user-images.githubusercontent.com/44351312/48399592-0cf39700-e75f-11e8-91e3-4b8a49fc3f34.PNG)

[2018-11-13 08:16] zhuzhibin123 commented on #68
Hi，@sagarpo
Submitted, it seems that there is no state to see screenshots.

[2018-11-13 08:18] sagarpo commented on #68
@zhuzhibin123 Do you have internet connection on the box where you hosted the Astra? Astra requires external JS and CSS to load from the internet.

[2018-11-13 09:10] zhuzhibin123 commented on #68
Hi，@sagarpo
We are private networks, can not directly connect to the Internet, the external JS and CSS download address?

[2018-11-13 09:16] sagarpo commented on #68
@zhuzhibin123 it loads from bootstrapcdn.com.

[2018-11-14 06:06] zhuzhibin123 commented on #68
Hi，
@sagarpo
Which directory should JS documents be placed in?

[2018-11-14 06:13] sagarpo commented on #68
@zhuzhibin123 I will do required changes and will push it in a couple of days.

[2018-11-14 06:15] zhuzhibin123 commented on #68
@sagarpo OK, we are looking forward to it.

[2018-11-21 04:26] madheshr opened #73 "Webscans keep crashing on Mac"
Hi
  A simple webscan keeps crashing.  Here is the trace.  Is there a specific version of python i should be using?

Process:               Python [35505]
Path:                  /usr/local/Cellar/python@2/2.7.15_1/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               2.7.15 (2.7.15)
Code Type:             X86-64 (Na

[2018-11-23 08:39] prajal commented on #73
This is apparently due to some new security changes made in High Sierra that are breaking lots of Python things that use fork(). Please refer below links
https://github.com/jhaals/ansible-vault/issues/60
https://github.com/ansible/ansible/issues/32499

[2018-11-23 08:39] #73 closed

[2018-12-05 04:49] ArjunReddyD commented on #62
Sorry I didn't explore it again. @sagarpo I will close this for now and in future if I come across i will reopen it

[2018-12-05 04:49] #62 closed

[2018-12-05 20:22] Kamerabuilt opened #79 "Empty scan reports"
I am able to scan,  Iget a status message, and I see the scan in progress, however, when the scan is completed, and I click on it, I am simply getting a completely blank page with absolutely no info.

If the scan has no results, it should say so.

If it does have output, well then there is a bug and I am not sure what to do.

All it says is "Scanning report" on the top, and nothing else.

[2018-12-05 20:43] sagarpo commented on #79
@Kamerabuilt If there has no vulnerability identified by the tool, it won't show anything on UI. We will add some message on UI if there has no bug.

[2018-12-05 20:47] Kamerabuilt commented on #79
^^ Thanks, but then, how do I know if its really empty or that there is some bug? Can I access the reports through another method (via CLI for example)?

[2018-12-05 20:47] Kamerabuilt commented on #79
I scanned a site that I know has many vulns, thats why I have doubts

[2018-12-05 21:44] sagarpo commented on #79
@Kamerabuilt Reports can be accessible from Reports tab. Also which site did you try to scan? Did Astra identify bug?

[2018-12-05 23:01] Kamerabuilt commented on #79
But all scans are empty. Is there a way to access them through the command line to make sure if they are really empty?

I tried on a tool called Pixi: https://github.com/thedeadrobots/pixi

It has an API built-in.

Also, I cannot know if bugs were found if the report is empty.

[2018-12-05 23:19] sagarpo commented on #79
@Kamerabuilt Can you share the logs here? Logs file can be found at /logs/scan.log

[2018-12-05 23:21] Kamerabuilt commented on #79
am gonna reinstall it from scratch and try again, if it still not working, I will upload the logs.

Do you have an app (maybe DVWA) that you know 100% will report bugs with Astra?

[2018-12-06 02:35] Kamerabuilt commented on #79
Scan status is completed.

/logs/scan.log is empty

Scanning report is empty as well.

[2018-12-06 11:04] ArjunReddyD opened #81 "Clicking on Submit button for a Post API, Popup displayed Status code token value, refer screenshot attached."
**Terminal Logs**

[code]

![astra terminal](https://user-images.githubusercontent.com/29158737/49580330-b3087a80-f974-11e8-8025-fea1ad741d86.png)

![astra 2018-12-06 16-30-04](https://user-images.githubusercontent.com/29158737/49580179-50af7a00-f974-11e8-9950-a40f31e07aa7.png)

[2018-12-06 23:15] sagarpo commented on #81
@ArjunReddyD That means scan has been started successfully

[2018-12-06 23:17] sagarpo commented on #79
@Kamerabuilt Astra is a rest API security testing framework. It only scans REST API, not the web app.

[2018-12-06 23:44] Kamerabuilt commented on #79
Did more testing, am still trying to figure out whats happening (on APIs and not just GET URLs), but one thing for sure is if a scan is empty, it should mention something in the reports page.

But why the scan log is empty? should it not have some debugging info, or inform us the DB is working, etc?

[2018-12-07 04:19] ArjunReddyD commented on #81
You mean the Status popup?

[2018-12-07 10:54] sagarpo commented on #81
@ArjunReddyD Can you share the log file(/logs/scan.log).

[2018-12-07 10:56] sagarpo commented on #79
@Kamerabuilt We are logging everything on the logs (logs/scan.log). If there have no logs generated, that means something is not working properly. Can you share your OS, python & flask version?

[2018-12-10 08:58] ArjunReddyD commented on #81
scan.log file is empty.

![image](https://user-images.githubusercontent.com/29158737/49721266-ddfe1180-fc87-11e8-8f41-6ae036a4c36c.png)

[2018-12-10 09:55] sagarpo commented on #81
@ArjunReddyD Since you are using Docker, log file will be found at /app/logs/scan.log. Please share that file with us.

[2018-12-10 09:56] sagarpo commented on #68
@zhuzhibin123 This is fixed. You can clone again and try the same.

[2018-12-10 09:56] #68 closed

[2018-12-10 09:57] sagarpo commented on #79
@Kamerabuilt Are you using astra through docker?

[2018-12-10 11:06] ArjunReddyD commented on #81
I managed to get Container logs. am not sure how to navigate to this path /app/logs/scan.log. Any source link to view a docker scan.log file will be helpful.

css02@css02-Latitude-E6440:~$ sudo docker logs d80f729a0936
2018-12-06T10:49:39.996+0000 I CONTROL  [main] Automatically disabling TLS 1.0, to force-enable TLS 1.0 specify --sslDisabledProtocols 'none'
2018-12-06T10:49:40.360+0000 I CONTROL

[2018-12-10 13:19] Kamerabuilt commented on #79
^^ yes. Any ideas what could it be?

[2018-12-10 13:20] sagarpo commented on #79
If you are using docker, the logs can be found at /app/logs/scan.log. Please share that with us.

[2018-12-10 16:41] Kamerabuilt commented on #79
Hi, found the logs, can I send them to you by email?

[2018-12-10 17:32] sagarpo commented on #79
@Kamerabuilt You can share it here!

[2018-12-10 17:59] Kamerabuilt commented on #79
172.17.0.1 - - [10/Dec/2018 16:38:52] "GET / HTTP/1.1" 200 -
172.17.0.1 - - [10/Dec/2018 16:38:52] "GET /scan/scanids/ HTTP/1.1" 200 -
172.17.0.1 - - [10/Dec/2018 16:38:57] "GET /scan/scanids/ HTTP/1.1" 200 -
172.17.0.1 - - [10/Dec/2018 16:39:02] "GET /scan/scanids/ HTTP/1.1" 200 -
172.17.0.1 - - [10/Dec/2018 16:39:07] "GET /scan/scanids/ HTTP/1.1" 200 -
172.17.0.1 - - [10/Dec/2018 16:39:12] "GET

[2018-12-10 18:00] Kamerabuilt commented on #79
hmm the API / Application I am using does not have rate limiting, not sure whats that exception based on. Any ideas?

[2018-12-12 11:26] Jennifer0099 opened #84 "how to use the web based interface"
Hello, can I use this software to test the facebook APIs and how can I do that. From the screenshot, I see the URL is http://localhost/checkout.php, so do I need to use the API that I want to test to connect to the localhost website through a software like POSTMAN? Because I am just a beginner with APIs, so I don't know how to use this testing software.

[2018-12-12 11:39] sagarpo commented on #84
@Jennifer0099 You can check this video: https://www.youtube.com/watch?v=EXAO-187ygI.  Hope this will help.

[2018-12-12 11:50] Jennifer0099 commented on #84
Thanks so much! This is helpful and now I know the localhost is not a must, but I still don't know how can I get the information like URL, Header, and Bodies.

[2018-12-12 11:53] sagarpo commented on #84
@Jennifer0099  What's the use case here?

[2018-12-12 12:02] Jennifer0099 commented on #84
I am doing a project based your code, and I want to test whether the software can realize the functions it claims and how well it can perform that. And maybe I also need to know how this software can do that. I read something about RESTful API, so I have a rough idea of this area now, but just some theoretical staff. And now I want to find some opensource APIs to test, like Twitter and Facebook.

[2018-12-12 12:09] sagarpo commented on #84
If you want to scan for security vulnerabilities, you need to have valid URL, headers and body.  That you can find out developer docs for Facebook!

[2018-12-12 12:20] Jennifer0099 commented on #84
Thanks, so I need to understand the endpoints of the APIs then I can know how to get the valid URL, headers and body, right?
![image](https://user-images.githubusercontent.com/45819053/49869385-8b9c2c80-fe10-11e8-9c6e-3dfa6e47c0df.png)

[2018-12-12 12:21] sagarpo commented on #84
Yes

[2018-12-12 16:09] #84 closed

[2018-12-13 09:03] zhuzhibin123 commented on #68
okay

[2018-12-17 11:42] ilayathalapathy-3719 opened #85 "getting exception"
![astra error](https://user-images.githubusercontent.com/25341791/50084866-651a2f00-021e-11e9-9932-50a231363b1c.JPG)
Getting exception error while running astra.py file and
![api py error](https://user-images.githubusercontent.com/25341791/50085022-d528b500-021e-11e9-8775-5e67753ff272.JPG)

Getting exception error while running API/api.py file.

Final scan result is blank

[2018-12-24 08:55] sagarpo commented on #85
@avi3719 Can you try to scan the same from web UI?

[2018-12-26 12:18] ArjunReddyD commented on #81
@sagarpo any updates on this issue?

[2019-01-03 10:10] balzer82 commented on #85
Same from WebUI:

[code]

[2019-01-04 07:20] divyang-desai commented on #79
I think this is an issue. We checked our web api project before, Astra was displaying 5 to 6 security issues. However then we deploy a new build on our staging server, we'd nothing fixed for those security issues, but the report now come up clean. Not sure want is the issue

[2019-01-04 11:54] sagarpo commented on #79
@divyang-desai I will look into this.  Can you share the logs?

[2019-01-04 11:54] sagarpo commented on #79
@Kamerabuilt I will check that

[2019-01-04 12:13] divyang-desai commented on #79
Find logs from scan.log as below
[code]

[2019-01-04 13:16] balzer82 commented on #85
I made it with a Mongo in Docker and the `python astra.py` and now it works. Wrote it down [here](https://mechlab-engineering.de/2019/01/security-testing-and-deployment-of-an-api-release-your-flask-app-to-the-internet/).

[2019-01-15 14:29] Jennifer0099 opened #86 "{"status":"Failed"}"
I just copied the URL, headers (without any body information) from POSTMAN, and it is in JSON format, but I get {"status":"Failed"}. Why does this happen?

[2019-01-15 14:41] Jennifer0099 commented on #86
I changed the format of the header to XML, and now the status changed to {"status":"a686fbf79f7ae22d2fcfe4d76f27910a"}

[2019-01-15 14:42] Jennifer0099 commented on #86
the header is like ----- OAuth oauth_consumer_key="W8rvRGIPauNLgmNBmEtGqqxG",oauth_token="1026851944051163137-XASS7kzON1WhDLK5PJSQGmsV3DmUu",oauth_signature_method="HMAC-SHA1",oauth_timestamp="1547560314",oauth_nonce="x3UGfxcgLef",oauth_version="1.0",oauth_signature="r74zJx1xlPPobUvy7UjLoDc4Hdc%3D"

[2019-01-15 14:43] Jennifer0099 commented on #86
the URL is like https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Jennife1625299

[2019-01-15 14:46] Jennifer0099 commented on #86
![image](https://user-images.githubusercontent.com/45819053/51187691-a6b0ff00-18dc-11e9-83a8-184a61e05f4d.png)

[2019-01-15 14:47] Jennifer0099 commented on #86
I find I have already got some information, but nothing useful.

[2019-01-16 07:01] sagarpo commented on #86
@Jennifer0099 Can you share the exact header you tried?

[2019-01-16 07:02] sagarpo commented on #85
@balzer82 @avi3719 Did you start mongo server? You need to run mongo server first as mentioned in README.

[2019-01-16 07:05] sagarpo commented on #81
@ArjunReddyD you can get a shell and access the file.  You can read this for more information: https://ma.ttias.be/get-shell-running-docker-container/

[2019-01-16 07:07] sagarpo commented on #79
@divyang-desai Can you share the test URL that you tried?

[2019-01-16 07:09] sagarpo commented on #85
@balzer82 Thanks.

[2019-01-16 08:32] Jennifer0099 commented on #86
the second time i changed like --- "Consumer Key" : "W8rvRGIPauNLgmNBmEtgGqqx",  in JSON format, then I got {"status":"a686fbf79f7ae22d2fcfe4d76f27910a"}

[2019-01-16 08:33] Jennifer0099 commented on #86
it showed completed but I don't get any report

[2019-01-16 08:36] Jennifer0099 commented on #86
and do I must give some information in body? can I leave it be empty

[2019-01-21 01:48] Kamerabuilt commented on #79
Any feedback on this yet? Still same issue (you can test it with pixi, it has a built-in API service, https://github.com/thedeadrobots/pixi) :

Sqlmap is running
SQLi - Scan started.
API is not vulnerable to sql injection
SQLi - Task deleted: c51f365fd6aff638
XXE: Server started.
Exception from sendrequest HTTPConnectionPool(host='localhost', port=8090): Max retries exceeded with url: / (Caused by

[2019-01-21 15:30] Jennifer0099 opened #87 "for my research project"

[2019-01-21 15:31] Jennifer0099 commented on #87
Is this project has a relation to ZAP

[2019-01-21 19:43] AmandaBSobrinho opened #88 "Report isn't generated"
I installed Astra on Kali Linux 2018.4, and after the scan is finished on CLI (the message "Scan has been completed" shows up), a tab opens on Firefox and I believe it should show the report and the results. However, it shows the message "NoProduct NameurlStatus", and no report. What am I doing wrong? The images with this process follow.

![astra-1](https://user-images.githubusercontent.com/163096

[2019-02-05 07:42] sagarpo commented on #88
@AmandaBSobrinho Can you try the same from the web interface?

[2019-02-05 07:44] sagarpo commented on #87
@Jennifer0099 There has a feature to integrate the ZAP as well but I am soon planning to remove that feature.

[2019-02-05 07:44] #87 closed

[2019-02-05 07:45] sagarpo commented on #86
@Jennifer0099 That means the URL doesn't have any security vulnerabilities.

[2019-02-05 07:45] #86 closed

[2019-02-05 07:45] #85 closed

[2019-02-05 07:47] sagarpo commented on #81
@ArjunReddyD Are you able to extract the log?

[2019-02-05 07:49] sagarpo commented on #79
@Kamerabuilt Give me some time. I am checking this.

[2019-02-05 11:07] AmandaBSobrinho commented on #88
With the web interface, I also have no response after the scan has supposedly started. When I click "Submit" after informing the Product Name, the URL and the Method (the Headers and the Body are left blank), I get a status.

![captura de tela de 2019-02-05 08-58-33](https://user-images.githubusercontent.com/16309667/52269308-d1fb9c80-2924-11e9-97f3-0590ac32ca99.png)

After clicking "OK", nothing

[2019-02-05 12:11] sagarpo commented on #88
Are you using Docker version? Also, can you check if your mongo server is running properly ?

[2019-02-05 12:55] AmandaBSobrinho commented on #88
No, I'm not using docker version, I installed it with pip (sudo pip install -r requirements.txt), because I wasn't able to make it work with Docker. I first run nohup mongod &, and then netstat -ntlvp, which gives me the answer:

![captura de tela de 2019-02-05 10-53-54](https://user-images.githubusercontent.com/16309667/52274616-5efa2200-2934-11e9-8738-6001c96be230.png)

Then, I run the command t

[2019-02-05 13:18] AmandaBSobrinho commented on #88
Oh, and this error is showing up on terminal after I start the scan on the web interface. Maybe it can help.

![captura de tela de 2019-02-05 11-18-27](https://user-images.githubusercontent.com/16309667/52275839-cbc2eb80-2937-11e9-87d6-2fa76689f124.png)

[2019-02-05 13:39] sagarpo commented on #88
@AmandaBSobrinho Can you share your flask,python and mongo version?

[2019-02-05 13:44] AmandaBSobrinho commented on #88
Sure! Here it is:

Flask version: 0.10.1
Python version: 2.7.15+
Mongo version: v3.4.18

[2019-02-07 05:53] sagarpo commented on #88
@AmandaBSobrinho This might be a problem with flask version. Can you update the flask version and try?

[2019-03-06 07:55] lucky73 commented on #88
I think your mongo is not running. Please check the status for the same. you can see before and after mongod server start and stop.
![4](https://user-images.githubusercontent.com/29023706/53864714-19894d00-3fe5-11e9-9ef3-2981d07699cf.PNG)
![1](https://user-images.githubusercontent.com/29023706/53864716-19894d00-3fe5-11e9-97b2-4363833545ea.PNG)
![2](https://user-images.githubusercontent.com/2902370

[2019-03-06 20:16] AmandaBSobrinho commented on #88
Hi! So, I tried starting MongoDB with "service mongdb start", but it's still not working. In the image below, we can see that MongoDB has been started and is running on port 27017.

![captura de tela de 2019-03-06 16-56-23](https://user-images.githubusercontent.com/16309667/53909660-fb493e80-4030-11e9-8b97-d808f06bb8f9.png)

Then, I run "python api.py" to start the Web Interface, and I click on "S

[2019-03-06 20:33] AmandaBSobrinho commented on #88
@sagarpo Thank you so much for your suggestion, that was the problem exactly! I ran "pip install --upgrade Flask" and everything worked out just fine! @lucky73 thanks for your help as well!

[2019-03-06 20:33] #88 closed

[2019-03-21 14:49] airribarrage opened #90 "NoProduct NameurlStatus and InsecureRequestWarning"
Hi,

No report is generated when trying to evaluate an operation, but, a message regarding "InsecureRequestWarning" (CSRF) is shown in command line at the time the scanning is being performed. Why there is no report? Should I take the message in the command line as a valid issue? How can I solve the problem to get a complete report including the information showed in command line but in GUI (I alr

[2019-03-27 18:07] jbarbera commented on #17
Another casual ping on that :)

[2019-04-11 21:55] pwna5aurus opened #93 "Recursive import failing: "ImportError: cannot import name main""
The API/api.py is importing * from astra which recursively imports API/api.py, and the logic to skip the import on iterative imports:
[code]

 isn't working.  Here's the trace-back:

[code]

[2019-04-12 04:50] sagarpo commented on #93
@pwna5aurus: Will look into this. BDW I have noticed from your comment that you are using windows box to run astra. We have not tested it in windows so we are not sure if that will work. I would recommend to use it linux or mac. Also, ImportError mentioned in your comment is limited to CLI version so you can use web interface of Astra to run the scan.

[2019-04-12 16:06] brianonn commented on #93
Same problem on OS X with python 2.7.15

[2019-04-15 12:36] nulldreams opened #94 "NameError: global name 'scanid' is not defined"
Hi!
First of all, thanks for this project!

So, I've got a Postman collection named "teste.json", when I start astra cli, I've got this error below.

In the first test, I've got this error `UnicodeEncodeError: 'ascii' codec can't encode character u'\xe1' in position 537: ordinal not in range(128)`, but I "fix" inserting a code in `Astra/core/parsers.py`.

### Code:
[code]

### Error after fix
[cod

[2019-04-16 03:04] coffee-cat-007 commented on #93
I have tried with couple of versions 2.7.14 & 2.7.15 still no luck.

[2019-04-19 04:22] vinayakooyala commented on #79
@Kamerabuilt how did you get the docker logs? can you please share the command and navigation path?

[2019-04-22 09:24] sagarpo commented on #93
@brianonn : Are you able to access through web interface?

[2019-04-22 09:25] sagarpo commented on #93
@coffee-cat-007 : Try through web interface.

[2019-05-10 11:59] aseemrastogi opened #95 "Installation Link does not work"
Hi - The published installation link is not working. Please check https://www.astra-security.info/installation/

I tried to get by with README but, could not get past "Failed to connect to MongoDB."

[code]
Please guide

[2019-05-10 22:54] Arkanyus opened #96 "Failed to connect to MongoDB"
Hi,

Have installed all the necessary modules but when i try to run Astra i get a mongodb fail.
Anyone know what could be causing this?

![Kali_Version](https://user-images.githubusercontent.com/50503742/57560511-c59d3a80-737e-11e9-913f-50a46336d8b4.JPG)
![Failed to Connect to MongoDB](https://user-images.githubusercontent.com/50503742/57560513-c59d3a80-737e-11e9-8ad2-4138ca2b2f27.JPG)

[2019-05-14 13:59] bensonarce commented on #96
Any update? i get the same message

[2019-05-14 15:53] CreativeWolf commented on #93
Heya,

Here's the traceback while trying to run the web interface

While there is zapscan.py inside the directory core, looks like the path is not read

[2019-05-15 18:46] alimukarramm commented on #28
Hello, I am having same error Failed to connect to mongodb. I did install the mongodo in my kali but also not able to access your site https://www.astra-security.info/installation/. please help. thanks.

[2019-05-30 11:56] deepanshuvigoursoft opened #97 "HOw to use astra on website which require username and passwords."
I have to login to a website with Username: Admin and Password:Admin.
but the help just shows login headers login data but not the syntax.

[2019-06-29 15:46] Jennifer0099 opened #98 "broken authentication alert disappear and other problem of new version"

[2019-06-29 15:50] Jennifer0099 commented on #98
in the past, when I test the tiredful API, it can show broken authentication error, and I guess it is because, that endpoint doesn't need to be authenticated, but Astra test this vulnerability by removing the authentication header and send the request again.
is this feature is closed now?

[2019-06-29 15:53] Jennifer0099 commented on #98
and another problem is that it seems the log file is not right because compare to the log file of the API application, the request seems got a status code 404
![image](https://user-images.githubusercontent.com/45819053/60386566-d02ea300-9a96-11e9-8926-7c086e82196d.png)
![image](https://user-images.githubusercontent.com/45819053/60386569-dae93800-9a96-11e9-98d2-3121b1dd7726.png)

[2019-06-29 15:56] Jennifer0099 commented on #98
and when i test using an invalid URL i still can got the report like this:
![image](https://user-images.githubusercontent.com/45819053/60386577-066c2280-9a97-11e9-89db-efe32a045245.png)
but in the past, it will always show in progress but not completed

[2019-06-29 16:00] Jennifer0099 commented on #98
and is I choose  method post, every time when I refresh the page it will change to DEL

[2019-06-29 16:04] Jennifer0099 commented on #98
and this kind of SQL injection vulnerability can't  be test out
![image](https://user-images.githubusercontent.com/45819053/60386641-3962e600-9a98-11e9-862f-e82b960f87a0.png)
and rate limit
![image](https://user-images.githubusercontent.com/45819053/60386650-5992a500-9a98-11e9-9230-bd1d74191151.png)

[2019-07-12 01:22] nitrogen17 opened #99 "Uncaught Error: Bootstrap's JavaScript requires jQuery"
It seems that the Jquery didn't load before the **bootstrap.min.js** , Im not sure if it has effect on other Astra's module. It must declared somehow on the top of the header in order to run the bootstrap.min.js

https://i.imgur.com/Z2w2xxq.png

[2019-07-12 10:47] ledgefarmdoc commented on #28
Hi,
getting Import error when I am run below command

root@kali:~/Astra# python astra.pyc
Traceback (most recent call last):
  File "/root/Astra/astra.py", line 38, in <module>
    from API.api import main
  File "/root/Astra/API/api.py", line 38, in <module>
    from astra import *
  File "/root/Astra/astra.py", line 38, in <module>
    from API.api import main
ImportError: cannot import name mai

[2019-07-19 05:02] the-llama opened #100 "<pre>AttributeError: &apos;NoneType&apos; object has no attribute &apos;status_code&apos; </pre>"
Running in Docker with a MongoDB container.
Command ran:
`docker run --rm -it --link astra-mongo:mongo astra-cli --method GET -u http://<hostname>:19999/api/`
Results:
[code]

Cheers

[2019-07-24 09:42] vincentcox commented on #96
I got the same problem!

[2019-08-20 18:01] DanielRuf opened #102 "website not working"
https://www.astra-security.info/roadmap/ does not work.

[2019-08-26 11:00] halashankara commented on #96
i got the same error

[2019-09-09 08:23] SIDD08 commented on #88
I tested 25 web services and I am getting the same  error on 8 of them. I am using the docker version.
Any help would be appreciated

[2019-09-12 03:37] hanoisteve opened #103 "Documentation"
I would like to see documentation for using Astra with most popular authentication/token methods.  So much work but just one page of documentation. Please update this so it gets more widely used and more feedback on the product this way.  Thanks

[2019-09-12 03:39] hanoisteve opened #104 "Roadmap Link is Broken"
I tried clicking on roadmap and the link is broken.

https://github.com/flipkart-incubator/Astra

[2019-10-15 09:50] kashaziz commented on #93
Commenting out line 38 in api.py works with web interface.
# from astra import *

[2020-02-14 04:55] aloknag opened #105 "Unable to see report for a scan using docker."
I ran a scan and console listed some vulnerabilities, but I am unable to view to report.
`~/PycharmProjects/Astra master* ❯ docker run --rm -it --link astra-mongo:mongo -p 8094:8094 astra                                                         2m 58s
 * Serving Flask app "api" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployme

[2020-02-27 11:16] garchaaman19 opened #106 "FileNotFoundError:\logs\\scan.log"
When I try to run api.py I get the error

`C:\Users\INTEL\Downloads\Astra-master\API>python api.py
Traceback (most recent call last):
  File "api.py", line 38, in <module>
    from astra import *
  File "..\astra.py", line 8, in <module>
    import utils.logs as logs
  File "..\utils\logs.py", line 12, in <module>
    fh = logging.FileHandler(path)
  File "C:\Users\INTEL\AppData\Local\Programs\Pyt

[2020-03-06 14:25] rohitdeshmukh5050 commented on #96
Firstly try using 'sudo systemctl start docker.service' then next to that run 'sudo systemctl status docker' and then connect MongoDB

[2020-03-12 12:07] lisa50loves commented on #93
I have to try this

[2020-03-17 16:38] Himself132 commented on #96
So, is this not usable outside of a docker container? The installation documentation shows you can just install dependencies and run it, is there a way to get the mongodb that is necessary setup in Kali without using docker?

[2020-03-19 14:17] Himself132 opened #107 "Support without Docker"
When attempting to use the tool through the GUI or  command line the following error message occurs despite all dependencies being run. The documentation shows that this should work but the error below occurs.  Just wondering why it won't work without docker.

Astra# python astra.py
Failed to connect to MongoDB.

Astra/API# python api.py
Failed to connect to MongoDB.

[2020-03-28 16:22] A2hari commented on #96
This error occurs because In your pc <b>mongoDB</b> is not installed. make sure mongoDB is installed and running

<b>link for installing the mongoDB</b><link>https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/
once you install the mongoDB and run it the setup works fine

[2020-03-28 16:27] A2hari commented on #107
This error occurs because In your pc <b>mongoDB</b> is not installed. make sure mongoDB is installed and running

<b>link for installing the mongoDB</b> <link>https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/
once you install the mongoDB and run it the setup works fine

[2020-03-28 16:30] A2hari commented on #95
This error <i>**"Failed to connect to MongoDB"** </i>occurs because In your pc <b>mongoDB</b> is not installed. make sure mongoDB is installed and running

<b>link for installing the mongoDB</b> <link>https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/
once you install the mongoDB and run it the setup works fine

[2020-03-28 16:40] A2hari opened #108 "main file astra.py does'nt work"
when i try to open the main file astra.py the following error occurs
![astra-error](https://user-images.githubusercontent.com/40531762/77828337-bb109e80-7112-11ea-8cb9-3690aac0cb91.png)
All the required dependencies and packages with mongoDB is installed but still the following error occurs

[2020-04-10 22:29] jairtontf commented on #108
@A2hari see this https://github.com/flipkart-incubator/Astra/issues/93

[2020-05-06 13:58] true-hero commented on #93
astra.py has to be launched from directory /app/API, like this:
`/app/API # python /app/astra.py --help`

[2020-05-06 19:32] abhisheksimion commented on #106
Please use python 2.7 it's the basic requirement.

[2020-05-06 19:34] abhisheksimion opened #109 "ConfigParser.NoSectionError: No section: 'SMTP'"
I get NoSectionError when I try to run "python api.py".

`C:\Tools\Astra\API>python api.py
Traceback (most recent call last):
  File "api.py", line 38, in <module>
    from astra import *
  File "../astra.py", line 34, in <module>
    from utils.email_cron import email_start_cron
  File "../utils\email_cron.py", line 20, in <module>
    emails = send_email()
  File "../utils\sendemail.py", line 11

[2020-05-07 07:36] garchaaman19 commented on #106
okay I will try.

On Thu, May 7, 2020 at 1:02 AM Abhishek Raj Simon <notifications@github.com>
wrote:

[2020-05-10 10:18] Belee05 opened #110 "unable start astra docker"
![image](https://user-images.githubusercontent.com/51012725/81496447-48d2d280-92ea-11ea-8f47-4a208cf8aadf.png)
I run ` docker run --rm -it --link astra-mongo:mongo -p 8094:8094 astra`，but the astra docker cannot start, how can I fix it problem? thanks

[2020-05-29 09:20] bingling123 commented on #108
I also encountered this problem, can someone please solve it

[2020-07-29 19:21] ibrasec opened #111 "Sending API Requests through an SSH tunnel - [Feature]"
Using Astra; what is the proper way of sending all API Requests through an SSH tunnel

example of an SSH tunnel command
[code]

[2020-08-29 20:05] GiJ03 opened #112 "XSS Payload?"
Astra detected that endpoint is vulnerable to XSS. But where is the payload..and how it detected?

[2020-09-13 07:09] sagarpo commented on #102
@DanielRuf: Will soon work on it. Thanks

[2020-09-14 11:38] lunit4 opened #113 "How to pass data in body or headers?"
Hi,

I'm using ASTRA to pentest an API that, depending on the request is mandatory to pass data (such as grant_type=client_credentials) or json with some data.

If I try to put in the body:
grant_type=client_credentials
The input validation is failed. If I put it in JSON format, {"grant_type":"client_credentials"} the scan goes on, but I get {"error":"invalid_request","error_description":"Missing

[2020-10-13 03:39] NelsonGaleano commented on #93
A mi me funciono de la siguiente manera:
[code]
y listo!
Gracias @true-hero por la idea!

[2020-11-24 08:49] Sybrid203 commented on #109
Error still persists.

[2020-11-25 11:19] balagpy opened #114 "print "Failed to update DB""
Hi Team,

I am facing the following issue.

File "api.py", line 95
    print "Failed to update DB"
          ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Failed to update DB")?

[2021-01-16 10:33] #102 closed

[2021-01-16 10:33] DanielRuf commented on #102
Closing as the domain seems to be parked / offline.

[2021-07-05 04:49] shaputta opened #116 "ImportError: No module named requests"
Hi, I am trying to run astra post all requirements pulled. But, getting the following error.
![image](https://user-images.githubusercontent.com/60346998/124419062-70042300-dd7a-11eb-9d59-ba2ad83233b9.png)

Can you please look into it and resolve.

Thanks in Advance.

[2021-07-07 12:13] pvital commented on #116
The `requests` is one of the required modules, and it's listed in the `requirements.txt` file.

I suggest you follow the last step of the [installation](https://github.com/flipkart-incubator/Astra#installation) process and try again.

[2021-07-11 03:21] peterwkc85 opened #117 "CLI Astra - Failed to connect to MongoDB"
Dear All,
I had install the Astra program according to the instructions but encounter this error when doing cli command. How to solve it? Thanks.

[2021-07-18 23:15] ahmedmohamed1101140 opened #118 "can you please make this project k8s compatible"
by adding helm chart/ yaml files and change the database connection to be environment variable

[2021-07-21 11:41] 0xabdi commented on #117
Getting the same error.

[2021-07-29 05:40] shaputta opened #119 "Unable to find request payload for identified issue"
Hi Team,

First of all, thanks for sharing this tool to public. Its very nice to run automated scans for Rest API's.
I was running couple of scans and identified that this scan results are not disclosing the payload used for successful attack. Could you please let me know how to find the payload used for identified issue.

Thank You.

[2021-07-29 05:41] shaputta commented on #119
Is there any way to extract the reports?

[2021-08-24 15:34] vijaycoolbuddy opened #121 "Astra Installation in Kali"
Followed the steps mentioned in the documentation. I am getting the below error. Please look into this.

\
![astra_1](https://user-images.githubusercontent.com/72866083/130646216-ed37344b-8d7b-416d-b02f-255f847b1434.JPG)

[2021-09-02 09:42] shaputta opened #122 "Report Generation"
Hi Team,
Could you please let me know how to generate report when used web interface and what are the report formats?

[2021-11-30 19:28] madmd5 commented on #121
Any update on this? I followed the install instructions today, but I'm receiving the same error message as above.

[2022-01-05 10:36] sanba06c commented on #121
I encountered the same issue.

[2022-01-17 11:22] psiinon opened #123 "Reregister https://www.astra-security.info/ ?"
It looks like you no longer own https://www.astra-security.info/ - worth reregistering it, or removing the link from the repo?

[2022-02-08 15:35] KTiby commented on #121
Hi here,

I managed to solve this problem by installing pymongo library specifically on python2. By default when you install pymongo on kali, the installation will happen on python3.

I hope this will help you.

[2022-02-09 03:40] sanba06c commented on #121
Can you instruct me on how to install it with python2? Thank you.

[2022-02-14 15:31] KTiby commented on #121
sudo apt update
sudo apt install python-pip
python2.7 -m pip install pymongo

[2022-04-12 18:32] Pro100Ickpa opened #125 "ImportError: cannot import name main"
Hello. Today tried to install and start using Astra
Followed all instructions on installation
After running python _astra.py --help_ I get:
![image](https://user-images.githubusercontent.com/45657640/163029914-ce25fb4d-dd9a-4410-aebe-6d2724b9235e.png)
Can you please help ?

[2022-04-27 02:28] Shan-KulK commented on #117
Same error as well, what OS are you on?

[2022-05-25 09:28] Fifee commented on #125
I have the same problem，

[2022-06-17 05:14] Sajeeshab opened #126 "kindly Fix Some Errors"
[{
	"resource": "/home/sajeesh/Astra/astra.py",
	"owner": "_generated_diagnostic_collection_name_#0",
	"severity": 8,
	"message": "Statements must be separated by newlines or semicolons",
	"source": "Pylance",
	"startLineNumber": 47,
	"startColumn": 15,
	"endLineNumber": 47,
	"endColumn": 46
},{
	"resource": "/home/sajeesh/Astra/astra.py",
	"owner": "_generated_diagnostic_collection_name_#0",
	"se

[2022-06-17 22:54] danthe13th opened #127 "Failed to connect to MongoDB."
it does not work and keep giving error : Failed to connect to MongoDB.
ive tried to execute all the python files and all of them had the same error
kindly please help me to know if the issue is with my ignorance or your program
thank you

[2022-06-24 14:02] qaautomateio opened #128 "issue"

[2022-06-24 14:02] #128 closed

[2022-07-05 07:29] anldori commented on #127
Please install mongodb and make sure that you'd start its service.
For Kali: systemctl start mongodb

[2022-08-19 12:48] elcreek commented on #27
i think the solution is using python2.7

[2022-09-30 10:16] dmdhrumilmistry opened #129 "Updation Request: Port to python 3"
It has been a while that python2 doesn't provide new releases.

Is it possible to port this project to python3?

[2022-10-19 14:16] Whiteends opened #130 "ImportError: No Module named Flask"
I've followed the steps stated in the installation guide and this is the error i've been getting since friday..
![image](https://user-images.githubusercontent.com/91547023/196716701-c7d5e56e-2cf8-4755-948c-9ad586df8656.png)

[2022-11-16 18:13] sha-16 commented on #130
You have to install Flask `pip2 install flask`